# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
.env/

# Pytest cache
.pytest_cache/

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
*.egg-info/
build/
dist/

# JMeter reports
jmeter/report/

# Logs
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
